/* Header */

html{
    color: #333E63;
    overflow: auto;
}

.clear{
    clear: both;
}

#header{
    position: relative;
    width: 100%;
    /* position: fixed; */
}

.header-wrapper{
    height: 45px;
    background-color: #666;
    /* background-color: rgb(154, 169, 179); */
    /* background-color: rgb(92, 78, 57); */
    /* background-color: black; */
    position: relative;
    top:0;
}

.slogan {
    /* position: absolute; */
    /* text-transform: uppercase; */
    color: white;
    width: 100%;
    line-height: 4.5rem;
    text-align: center;
    font-size: rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.header-wrapper .header-wrapper__icon{
    display: flex;
    font-size: 2rem;
    align-items: center;
    height: inherit;
    flex-direction: row-reverse;
    margin-right: 15rem;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.header-wrapper__icon  a {
    text-decoration: none;
    color: inherit; 
}

.header-wrapper__icon  a > .fa-brands{
    margin-right: 1rem;
    cursor: pointer;
}

.header-wrapper__icon a > .fa-brands:hover{
    opacity: 0.5;
}

.main-menu{
    width: 100%;
    height: 7.2rem;
    border-bottom: 1px solid #ccc;
    /* color: #808080; */
    color: #333E63;
    position: relative;
    background-color: white;
}

.main-menu .main-menu__items{
    list-style-type: none;
    display: flex;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.6rem;
    height: inherit;
    justify-content: space-evenly;
    align-items: center;
    animation: mainMenuItem ease-in 1s;
}

.none-animation{
    animation: none;
}

@keyframes mainMenuItem {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.main-menu__items >.main-menu__item{
    cursor: pointer;
    line-height: 7.2rem; 
    text-transform: uppercase;
}
.main-menu__item a{
    text-decoration: none;
    color: #333E63;
}
.main-menu__items >.main-menu__item:hover {
    color:rebeccapurple;
    opacity: 0.5;
}

.main-menu__items >.main-menu__item:hover >ul{
    color: black;
}

.main-menu__items img{
    width: 10%; height: 90%;
    transform: translateX(-70%);
}

.item--career{
    transform: translateX(-176%) !important;
}

.item--auction{
    transform: translateX(-320%) !important;
}

.item--comunity{
    transform: translateX(-410%) !important;
}

/* Slider */

#slider{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    min-height: 63rem;
    max-height: 100rem;
    position: relative;
    border-top: 1px solid #808080;
    /* display: none; */
}

.slider__main img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: imageSlider ease-in 7s;
}

@keyframes imageSlider {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.slider__main .control{
    color: rgb(233, 227, 227);
    position: absolute;
    font-size: 4rem;
    cursor: pointer;
}

.slider__main .control:hover{
    opacity: 0.5;
}

.slider__main .prev{
    top: 50%;
    transform: translateY(-50%);
}

.slider__main .next{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slider__main .play, .slider__main .stop{
    bottom: 0%;
    font-size: 3rem;
}

.slider__main .play{
    right: 51.5%;
}

.slider__main .stop{
    right: 48.5%;
}

/* Sidebar */
.sidebar{
    position: fixed;
    background-color: #ccc;
    height: 636px;
    width: 15%;
    text-align: center;
    list-style: none;
    font-size: 15px;
    top:116.5px;
    /* z-index: 0; */
    border: 1px solid #ccb;
    overflow-x: hidden;
}

.text .fa-sharp{
    margin-left: -31px;
    
}

.sidebar li{
    padding: 10.65px 0 10.65px 0;
}

.sidebar li:hover{
    opacity: 0.5;
    background-color: white;
}

.sidebar .sidebar__seasons{
    list-style: none;
    /* display: inline; */
    display: none;
}


/* Career content */
.career-content{
    margin-left: 15%;
    width: 85%;
    /* position: absolute; */
    /* transform: translateY(200px);
    top:500px */
    padding-top: 118px;
    /* overflow: auto; */
}

.career-head{
    height: 200px;
    /* background-color: black; */
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-around;
}

.career-head > img{
    border-radius: 10px;
    font-size: 99%;
    animation: careerHeadImg ease-in 0.5s;
}

.career-head .left{
    margin-right: -300px;
}

.career-head .right{
    margin-left: -300px;
}

@keyframes careerHeadImg {
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.career-head .nation-club{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    animation: nationClub ease-in 2s;
}

@keyframes nationClub {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.career-head .nation-club p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.career-head .nation-club p > img{
    width: 15px;
    height: 13px;
}

.career__moment{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    height: 400px;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.career__moment .titles{
    width: 35%;
    /* background-color: black; */
    border: 1px solid #ccc;
}

.career__moment .moment{
    width: 35%;
    /* background-color: blue; */
    border: 1px solid #ccc;
    overflow: auto;
}

.career__video{
    
    height: 500px;
    margin: 20px 0 20px 0;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.career__video iframe{
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    width: calc(500px*16/9);
    height:inherit;
}

.career__shirts{
    height: 300px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.career__shirts .shirt{
    width: 18%;
    height: inherit;
    border: 1px solid #ccc;
    font-size: 15px;
    text-align: center;
}

.career__shirts .shirt .shirt-image{
    height: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.career__shirts .shirt .text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}

.buy-btn{
    padding: 5px 0px 5px 0px;
    margin: 5px 23px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    height: 25px;
    background-color: black;
    font-weight: bold;
}

.shirt-home .shirt-image{
    background-image: url('../img/mu-home-0809.jpg');
}

.shirt-away .shirt-image{
    background-image: url('../img/mu-away-0809.jpg');
}

.shirt-third .shirt-image{
    background-image: url('../img/mu-third-0809.jpg');
}